body {
	font-size: 75%;
	height: 100%;
	color: #246a84;
}

a {
    text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:default;  
}



#application {
	margin: 0;
	padding: 0 0 3em 0%; 
	height: 100%;
	overflow: hidden;
	position: relative;
	left: 0;
	width: 100%;
	font-size: 80%;
}

#application-header {
	border-bottom:  0.1em solid #FAFAFA;
	color: #246a84;
}

#application-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FDFDF0;
	z-index: 500;
	font-size: 200%;
	overflow: hidden;
	
}

.application-view {

	padding: 1em 0 2em 0;

}

#application-body {
	height: 85%;
	overflow: hidden;
}

#application-header h4 {
	overflow: hidden; 
	padding: 0.2em 0;
}

#application-header h4 img {
	width: 3em; 
	position: absolute; 
	left: 41%; 
	margin: 0.1em 0; 
}

.application-footerTab {
	width: 20%;
	margin: 0.2em 2.5%;
	float: left;
	overflow: hidden;
	text-align: center;

}

.application-footerTab i {
	color: gold;
}

.application-footerTab i:hover {
	cursor: pointer;
}

.application-footerTab .active {
	color: #246a84;
}

.application-view {
	width: 98%;
	margin-left: 1%;
}

#loginText {
	color: green;
}











.splash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: white;
}


.splash img {
	width: 40%;
	position: relative;
	left: 30%;
	margin-top: 40%;
}






















.profile {
	width: 98%;
	margin: 0 1%;
	color: #246a84;
	font-size: 140%;
}


.profile-header {
	overflow: hidden;
	text-align: center;
	font-size: 140%;
}

.profile img {
	width: 40%;
	margin: 0.5em;
	border-radius: 50%;
	float: left;
}

.profile img:hover {
	
}

.profile-details {
	width: 46%;
	overflow: hidden;
	padding: 1em 2%;
	text-align: center;
}

.profile-details h5:hover {
	
}

.profile-links {
	padding-top: 1em;
	border-top: 0.1em solid black;
}
.profile-links div {
	width: 100%;
	padding: 0.2em 0;
	margin: 0 0 0.3em 0;
	overflow: hidden;
	font-size: 115%;
}

.profile-links div:hover {
	
}


.home img {

}


.telephone {
	text-align: center;
}

.telephone-quick {
	width: 90%;
	margin: 0.5em 5%;

}

.telephone-quick a {
	width: 30%;
	float: left;
	border-left: 0.1em solid black;
	border-right: 0.1em solid black;
	padding: 1em 3%;
	margin: 1.5em 1.5%;
	text-decoration: none;
	border-radius: 5%;
	font-size: 110%;
}

.telephone-quick a:hover {
	background-color: gold;
	color: black;
}

.telephone-quick a i {
	font-size: 150%;
}






.users {
	overflow: hidden;
}

.users-header {
	text-align: center;
}

.users-body {
	border-top: 0.1em solid black;
	overflow-y: auto;
	padding: 0.5em 0;
	margin: 0 0 1em 0;
}

.users-footer {
	position: relative;
	bottom: 0;
}
.message {
	width: 70%;
	margin: 0.2em 5%;
	padding: 0.2em 5%;
	font-weight: bold;
	border-radius: 2%;
	overflow: hidden;
}

.message-in {
	
	background-color: blue;
	color: white;
}

.message-in span {
	
	float: right;
}

.message-out {
	text-align: right;
	background-color: green;
	color: white;
	float: right;
	clear: both;
}

.message-out span {
	
	float: left;
	clear: both;
}













.terror {

}

.terror h4 {
	color: red;
	font-weight: bold;
	text-align: center;
}

.terrorist {
	width: 46%;
	margin: 0.5em 1.5%;
	float: left;
	overflow: hidden;
	font-size: 90%;
	text-align: center;
	border-bottom: 0.1em solid white;
	opacity: 0.9;
}

.terrorist:hover {
	border-bottom: 0.1em solid red;
	opacity: 1.0;
	color: red;
	font-weight: bold;
}

.terrorist img {
	width: 80%;
	margin: 1em 10%;
}






















